$breakpoint: 720px;
$breakpointMobile: 450px;
$accentGreen: #69f0ae;
.shopcart{
    position: fixed;
    left: 0px;
    top: 64px;
    background:rgba(255,255,255,.8);
    box-shadow: -1px 0px 3px rgba(0,0,0,.8);
    overflow-x: hidden;
    overflow-y: auto;
    width: 320px;
    height: calc(100vh - 64px);
    &-top{
        position: fixed;
        width: 320px;
        z-index: 8;
        box-shadow: 0px 2px 3px rgba(0,0,0,.5);
        border: 1px solid rgba(255,255,255,.5);
        border-style: none none solid none;
        &__divider {
            margin-bottom: 64px;
        }
    }
    &-title{
        position: absolute;
        right: 32px;
        font-size: 24px;
        font-weight: 100;
    }
    &-empty__text{
        padding: 24px;
        text-align: center;
        color: black;
        line-height: 130%;
        padding-top: 0px; 
        font-size: 14px;
        margin-top: 12px;
    }
    &-empty__title{
        padding: 48px;        
        text-align: center;
        color: black;
        line-height: 130%;
        font-size: 32px;
        font-weight: 100;
        padding-bottom: 0px;
        margin: 0px;
    } 
    &-empty__line{
        width: 80%;
        border: none;
        background-color: black;
        height: 1px;
        opacity: .4; 
    }
   
    @media screen and (max-width: #{$breakpoint}){
        width: 100%;
        background:#fbfbfb;
        &-top{
            width: 100%;   
        }
      }    
}
.shopcart-card {
    max-width: 300px;
    margin: 10px;
    position: relative;
    float: left;
    &__description{
        line-height: 140%;
        font-size: 14px;
    }
    &__price{
        font-size: 24px;
        margin-bottom: 0px;
        span{
            font-size: 12px;
        }
    }  
    &__priceSum{
        color: $accentGreen;
        line-height: 0;
    }
    &__quantity{
        text-align: center;
    }
    b{
      color: $accentGreen;
    } 
    &__title{
        font-size: 16px;
        text-align: center;
    }
  }
  
  .shopcart-radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  
  .shopcart-radio-button {
    margin: 16px;

  }
  
  .shopcart-selected-value {
    margin: 15px 0;
    display: none;
    padding: 12px;
    margin: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
  }
  .shopcart-icon {
    padding: 0 4px;
    &__remove{
        padding: 0 0 0 10px;
    }
  }
  
  .shopcart-spacer {
    flex: 1 1 auto;
  }
  .shopcart-btn__remove{
      float: right;
  }

  .mat-slider-horizontal{
      width: 100%;
  }