<!-- <span class="animated bounceInLeft"></span>  -->
    <div class="shopcart animated fadeIn faster">
        <div class="shopcart-top">
        <mat-toolbar color="accent">
            <mat-toolbar-row>
            <a mat-raised-button routerLink="/">Voltar</a>
            <span class="shopcart-title">  Meu carrinho</span>
            <span class="shopcart-spacer"></span>
            </mat-toolbar-row>
            </mat-toolbar>
        </div>
        <hr class="shopcart-top__divider">
        <mat-card class="shopcart-card animated zoomInLeft fast" *ngFor="let _goods of itemsAtCart; let i = index">
            <mat-card-header>
            <mat-card-title class="shopcart-card__title">{{_goods.title}}: tamanho - <b>{{_goods.size}}</b></mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="'../../assets/products/'+_goods.sku+'.jpg'" [alt]="_goods.title">
            <mat-card-content>
            <p class="shopcart-card__price">{{_goods.price | currency:'BRL'}} <span>cada</span><p>
            <p class="shopcart-card__priceSum">Total: {{_goods.price*_goods.quantity | currency:'BRL'}}<p>
            </mat-card-content>
            <hr>
            <p class="shopcart-card__quantity">Quantidade: <b>{{_goods.quantity}}</b></p>
            <mat-card-actions>
                    <mat-slider min="1" max="20" step="1" [value]="_goods.quantity" thumbLabel="true" (input)="changeCartItemQuantity($event, _goods.skuAndSize)"></mat-slider>  
                    <button mat-stroked-button class="shopcart-btn__remove" color="warn" (click)="removeCartItem(_goods.skuAndSize)">Remover item <mat-icon class="shopcart-icon__remove">remove_circle</mat-icon>
                    </button>          
            </mat-card-actions>
        </mat-card>

        <!-- Empty cart message -->
        <span *ngIf = "orderCreate.sumCartItems == 0">
            <p class="shopcart-empty__title animated shake">Seu carrinho está vazio...</p>
            <hr class="shopcart-empty__line">
            <p class="shopcart-empty__text">Veja nosso catálogo, escolha seus produtos preferidos e adicione ao carrinho.</p>
        </span>
        
    </div>
   


