$breakpoint: 720px;
$breakpointMobile: 450px;
.showcase{
  position: relative;
  float: right;
  width: calc(100vw - 20px);
  transition: width 500ms ease-out;
  height: 100vh;
  left: 0px;
  top: 32px;
  &__fold{
      @media screen and (min-width: #{$breakpoint}){
        width: calc(100vw - 360px)
    }
    @media screen and (max-width: #{$breakpoint}){
      overflow-y: hidden;
    } 
  }
  @media screen and (max-width: #{$breakpointMobile}){
    width: 100%;
  }  
}

.showcase-edge{
  width: 100%;
  position: relative;
  float: left;
  margin-bottom: 40px;
}
.showcase-card {
    max-width: 360px;
    margin: 10px;
    float: left;
    &__description{
        line-height: 140%;
        font-size: 14px;
    }
    &__price{
        font-size: 24px;
        margin-bottom: 0px;
    }   
    b{
      color: #69f0ae;
    }
    @media screen and (max-width: #{$breakpointMobile}){
      max-width: 100%;
    }
  }
  
  .showcase-radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  
  .showcase-radio-button {
    margin: 16px;
    @media screen and (max-width: 380px){
      margin: 8px;
    }    

  }
  .showcase-tip-select {
    margin: 15px 0;
    padding: 12px;
    margin: 0px;
  }  
  
  .showcase-selected-value {
    margin: 15px 0;
    display: none;
    padding: 12px;
    margin: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
  }
