<div class="showcase">
  <div class="showcase-edge"></div>
  <mat-card class="showcase-card" *ngFor="let _goods of goodsList; let i = index">
      <mat-card-header>
        <mat-card-title>{{_goods.title}}</mat-card-title>
        <mat-card-subtitle>{{_goods.description}} | {{_goods.style}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="'../../assets/products/'+_goods.sku+'.jpg'" [alt]="_goods.title">
      <mat-card-content>
        <p class="showcase-card__price">{{_goods.price | currency:'BRL'}}<p>
        <p class="showcase-card__parcel" *ngIf="_goods.installments > 0; else inCash"> em até {{_goods.installments }}x de <b>{{_goods.price/_goods.installments | currency:'BRL'}}</b><p>
        <ng-template #inCash>
            <p class="showcase-card__parcel">À vista</p>
        </ng-template>
        <mat-chip-list>
            <mat-chip color="accent" *ngIf="_goods.isFreeShipping" selected>FRETE GRÁTIS</mat-chip>
            <mat-chip color="primary" *ngIf="!_goods.isFreeShipping" selected>ENTREGA EXPRESSA</mat-chip>
        </mat-chip-list>
        
        <hr>
        <p class="showcase-tip-select" *ngIf="_goods.size == undefined">Selecione o tamanho desejado:</p>
        <mat-radio-group class="showcase-radio-group" [(ngModel)]="_goods.size">
            <mat-radio-button class="showcase-radio-button" *ngFor="let _goodsSize of goodsList[i].availableSizes" [value]="_goodsSize" (click)="chooseASize(_goods.sku)">
              {{_goodsSize}}
            </mat-radio-button>
          </mat-radio-group>
          <div [id]="'shwc__'+_goods.sku" class="showcase-selected-value animated bounce">Tamanho selecionado: <b> {{_goods.size}}</b></div>
          
      </mat-card-content>
      <hr>
      <mat-card-actions>
          <button [disabled]="_goods.size == undefined" mat-raised-button color="warn" (click)="buyThisItem(_goods.id, _goods.size)">Comprar</button>
      </mat-card-actions>
  </mat-card>
</div>