.top-line{
    position: fixed;
    z-index: 10;
    box-shadow: 0px 1px 2px rgba(0,0,0,.8);
    &__text{
        font-size: 14px;
        padding-left: 12px;
        font-weight: 100;
        cursor: pointer;
    }
    &__cartButton{
        margin-top: 8px;
    }
    &__brand{
        position: absolute;
        width: 146px;
        height: 20px;
        margin: 22px;
        right: 0px;
        background-image: url("../../assets/images/logo.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;        
    }
}
.mat-toolbar-row{
    min-height: 64px;
}