<mat-toolbar color="primary" class="top-line">
  <mat-toolbar-row routerLink="/cart">
    <button class="top-line__cartButton" mat-mini-fab [matBadge]="orderCreate.sumCartItems" matBadgeColor="warn" matBadgePosition="above after">
      <mat-icon color="primary">shopping_cart</mat-icon>
    </button>
    <p class="top-line__text">Meu carrinho</p> 
  </mat-toolbar-row>
  <div class="top-line__brand"></div>
</mat-toolbar>
