/* You can add global styles to this file, and also import other style files */
//@import "./reset";
@import "./animate";
html, body { height: 100%;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; background-color: #303030 }
.showcase__fold{
    @media screen and (max-width: 720px){
        overflow-y: hidden;
      } 
}
